<module xmlns='urn:jboss:module:1.1' name='com.ail.insurance'>
  <resources>
    <resource-root path='insurance.jar'/>
  </resources>
  <dependencies>
    <module name='com.liferay.portal'/>
    <module name='com.ail.core'/>
    <module name='com.ail.commercial'/>
    <module name='javax.persistence.api'/>
    <module name='org.hibernate'/>
  </dependencies>
</module>
