<module xmlns='urn:jboss:module:1.1' name='com.ail.core'>
  <resources>
    <resource-root path='core.jar'/>
    <resource-root path='xml-apis-2.11.0.jar'/>
    <resource-root path='logkit-2.0.jar'/>
    <resource-root path='invokebinder-1.2.jar'/>
    <resource-root path='commons-digester-1.5.jar'/>
    <resource-root path='drools-jsr94-5.4.0.Final.jar'/>
    <resource-root path='xmlpull-1.1.3.1.jar'/>
    <resource-root path='jxl-2.6.10.jar'/>
    <resource-root path='snakeyaml-1.13.jar'/>
    <resource-root path='batik-parser-1.6-1.jar'/>
    <resource-root path='jcodings-1.0.10.jar'/>
    <resource-root path='asm-analysis-5.0.3.jar'/>
    <resource-root path='bytelist-1.0.11.jar'/>
    <resource-root path='jsr94-1.1.jar'/>
    <resource-root path='spring-beans-4.1.7.RELEASE.jar'/>
    <resource-root path='joda-time-2.8.1.jar'/>
    <resource-root path='guava-11.0.2.jar'/>
    <resource-root path='batik-gui-util-1.6-1.jar'/>
    <resource-root path='batik-awt-util-1.6-1.jar'/>
    <resource-root path='jdom-1.0.jar'/>
    <resource-root path='org.osgi.core-1.4.0.jar'/>
    <resource-root path='yecht-1.0.jar'/>
    <resource-root path='slf4j-log4j12-1.6.1.jar'/>
    <resource-root path='jsr305-1.3.9.jar'/>
    <resource-root path='jnr-enxio-0.4.jar'/>
    <resource-root path='ecj-3.5.1.jar'/>
    <resource-root path='commons-io-1.1.jar'/>
    <resource-root path='axis-saaj-1.4.jar'/>
    <resource-root path='bctsp-jdk16-1.46.jar'/>
    <resource-root path='knowledge-api-5.4.0.Final.jar'/>
    <resource-root path='joni-2.1.3.jar'/>
    <resource-root path='batik-svg-dom-1.6-1.jar'/>
    <resource-root path='saxon-dom-8.7.jar'/>
    <resource-root path='antlr-3.3.jar'/>
    <resource-root path='oro-2.0.8.jar'/>
    <resource-root path='bcmail-jdk16-1.46.jar'/>
    <resource-root path='commons-discovery-0.2.jar'/>
    <resource-root path='gson-1.4.jar'/>
    <resource-root path='jnr-posix-3.0.9.jar'/>
    <resource-root path='drools-compiler-5.4.0.Final.jar'/>
    <resource-root path='avalon-framework-4.1.5.jar'/>
    <resource-root path='js-1.7R2.jar'/>
    <resource-root path='jaxb-api-2.2.5.jar'/>
    <resource-root path='spring-context-4.1.7.RELEASE.jar'/>
    <resource-root path='asm-5.0.3.jar'/>
    <resource-root path='commons-jxpath-1.2.jar'/>
    <resource-root path='knowledge-internal-api-5.4.0.Final.jar'/>
    <resource-root path='protobuf-java-2.4.1.jar'/>
    <resource-root path='asm-tree-5.0.3.jar'/>
    <resource-root path='batik-gvt-1.6-1.jar'/>
    <resource-root path='werken-xpath-0.9.4.jar'/>
    <resource-root path='batik-util-1.6-1.jar'/>
    <resource-root path='antlr-2.7.7.jar'/>
    <resource-root path='xmlgraphics-commons-1.1.jar'/>
    <resource-root path='options-1.2.jar'/>
    <resource-root path='hamcrest-library-1.3.jar'/>
    <resource-root path='spring-expression-4.1.7.RELEASE.jar'/>
    <resource-root path='jaxb-xjc-2.2.5.jar'/>
    <resource-root path='commons-httpclient-3.1.jar'/>
    <resource-root path='jruby-1.7.19.jar'/>
    <resource-root path='axis-1.4.jar'/>
    <resource-root path='jnr-unixsocket-0.3.jar'/>
    <resource-root path='xercesImpl-2.11.0.jar'/>
    <resource-root path='log4j-1.2.17.jar'/>
    <resource-root path='jnr-ffi-2.0.1.jar'/>
    <resource-root path='drools-decisiontables-5.4.0.Final.jar'/>
    <resource-root path='batik-bridge-1.6-1.jar'/>
    <resource-root path='xstream-1.4.1.jar'/>
    <resource-root path='nailgun-server-0.9.1.jar'/>
    <resource-root path='itextpdf-5.1.2.jar'/>
    <resource-root path='saxon-8.7.jar'/>
    <resource-root path='stax-api-1.0-2.jar'/>
    <resource-root path='avalon-framework-impl-4.3.1.jar'/>
    <resource-root path='batik-dom-1.6-1.jar'/>
    <resource-root path='jruby-stdlib-1.7.19.jar'/>
    <resource-root path='javassist-3.12.1.GA.jar'/>
    <resource-root path='spring-core-4.1.7.RELEASE.jar'/>
    <resource-root path='batik-transcoder-1.6-1.jar'/>
    <resource-root path='spring-aop-4.1.7.RELEASE.jar'/>
    <resource-root path='jzlib-1.1.3.jar'/>
    <resource-root path='spring-instrument-4.1.7.RELEASE.jar'/>
    <resource-root path='bcprov-jdk15-1.46.jar'/>
    <resource-root path='commons-codec-1.9.jar'/>
    <resource-root path='commons-lang-2.4.jar'/>
    <resource-root path='batik-xml-1.6-1.jar'/>
    <resource-root path='batik-script-1.6-1.jar'/>
    <resource-root path='asm-util-5.0.3.jar'/>
    <resource-root path='batik-ext-1.6-1.jar'/>
    <resource-root path='org.osgi.compendium-1.4.0.jar'/>
    <resource-root path='jnr-netdb-1.1.2.jar'/>
    <resource-root path='jaxb-impl-2.2.5.jar'/>
    <resource-root path='fop-0.93.jar'/>
    <resource-root path='batik-css-1.6-1.jar'/>
    <resource-root path='commons-validator-1.1.4.jar'/>
    <resource-root path='xpp3_min-1.1.4c.jar'/>
    <resource-root path='hamcrest-core-1.3.jar'/>
    <resource-root path='bctsp-jdk15-1.46.jar'/>
    <resource-root path='axis-jaxrpc-1.4.jar'/>
    <resource-root path='reflections-0.9.8.jar'/>
    <resource-root path='aopalliance-1.0.jar'/>
    <resource-root path='bcmail-jdk15-1.46.jar'/>
    <resource-root path='quartz-1.6.1.jar'/>
    <resource-root path='velocity-1.7.jar'/>
    <resource-root path='commons-collections-3.2.1.jar'/>
    <resource-root path='bcprov-jdk16-1.46.jar'/>
    <resource-root path='slf4j-api-1.6.1.jar'/>
    <resource-root path='aspectjweaver-1.8.6.jar'/>
    <resource-root path='drools-core-5.4.0.Final.jar'/>
    <resource-root path='lambdaj-2.4.jar'/>
    <resource-root path='commons-beanutils-1.6.jar'/>
    <resource-root path='stringtemplate-3.2.1.jar'/>
    <resource-root path='jruby-core-1.7.19.jar'/>
    <resource-root path='antlr-runtime-3.3.jar'/>
    <resource-root path='groovy-all-2.3.11.jar'/>
    <resource-root path='mvel2-2.1.0.drools16.jar'/>
    <resource-root path='avalon-framework-api-4.3.1.jar'/>
    <resource-root path='asm-commons-5.0.3.jar'/>
    <resource-root path='janino-2.5.16.jar'/>
    <resource-root path='commons-logging-1.2.jar'/>
    <resource-root path='javassist-3.17.1-GA.jar'/>
    <resource-root path='objenesis-2.1.jar'/>
    <resource-root path='cglib-nodep-2.2.2.jar'/>
    <resource-root path='jffi-1.2.7-native.jar'/>
    <resource-root path='jnr-x86asm-1.0.2.jar'/>
    <resource-root path='drools-templates-5.4.0.Final.jar'/>
    <resource-root path='axis-wsdl4j-1.5.1.jar'/>
    <resource-root path='batik-extension-1.6-1.jar'/>
    <resource-root path='jnr-constants-0.8.6.jar'/>
    <resource-root path='castor-xml-ail-1.1.jar'/>
    <resource-root path='bsh-2.0b5.jar'/>
  </resources>
  <dependencies>
    <module name='com.liferay.portal'/>
    <module name='org.apache.xalan'/>
    <module name='org.hibernate'/>
    <module name='javax.persistence.api'/>
    <module name='org.apache.httpcomponents'/>
    <module name='org.jboss.vfs'/>
    <module name='org.hornetq'/>
    <module name='javax.api'/>
    <module name='javax.jms.api'/>
    <module name='javax.servlet.api'/>
    <module name='javax.xml.rpc.api'/>
    <module name='javax.activation.api'/>
    <module name='javax.ejb.api'/>
    <module name='javax.mail.api'/>
    <module name='sun.jdk'/>
  </dependencies>
</module>
